*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; padding: 0; background: #0D0D0D; }
#root { width: 100%; height: 100vh; display: flex; flex-direction: column; }
button, div, input, textarea, select { outline: none; }
svg { outline: none; } .recharts-wrapper { outline: none; }
.recharts-bar-rectangle { outline: none; } .recharts-rectangle { outline: none; }
